<h1>Edit Task</h1>
<%= form_for(@task) do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.label :details %>
<%= f.text_field :details %>
<%= f.label :completed %>
<%= f.text_field :completed %>
<%= f.submit %>
<% end %>

